/*-- scss:defaults --*/

$body-bg: #f8f9fa;
$body-color: #212529;
$link-color: #0d6efd;
$presentation-heading-color: #2c3e50;

/*-- scss:rules --*/

.reveal h1, .reveal h2, .reveal h3 {
  text-transform: none;
}

.reveal .slide-number {
  font-size: 0.7em;
}

.reveal pre code {
  max-height: 500px;
}
